@import "../mixins/mixinBreakpoint.scss";
.carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .arrowup {
      display: block;
      margin-bottom: 1px;
      transition: 0.3s;
      &-down {
        transform: rotate(180deg);
      }
      @include media("L") {
        display: none;
      }
    }
    h3 {
      margin-left: 10px;
      padding: 3px;
      cursor: default;
    }
  }
  &__boton {
    font-size: 25px;
  }
  &__desglose {
    position: relative;
    width: 30%;
    min-width: 300px;
    background: #fdfdfd;
    right: 0;
    bottom: 55px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.3s;
    z-index: -1;
    padding: 12px 12px 20px;
    @include media("L") {
      transform: scaleY(1);
    }
    &-active {
      transform: scaleY(1);
    }
    .listCarrito {
      display: flex;
      flex-direction: column;
      border-top: 1px dashed black;
      padding: 8px 0;
      &:first-child {
        border: none;
      }
      .categoria,
      .nombre {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 14px;
      }
      .nombre {
        text-align: right;
      }
      .cantidades {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .cantidad {
          font-size: 10px;
          margin-right: 10px;
        }
        .precio {
          font-size: 18px;
        }
      }
    }
  }
}
