.contar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .botones {
    svg {
      font-size: 20px;
      border-radius: 100%;
      transition: 0.3s;
      transform: scale(1.2);
      &:hover {
        transform: translateY(2px) scale(1.1);
        box-shadow: none;
      }
      &:first-child {
        margin: {
          right: 20px;
          left: 25px;
        }
      }
    }
  }
  .error {
    color: red;
    position: absolute;
    font-size: 10px;
    top: 85px;
    right: 10px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 3px;
  }
  .cantidad {
    align-self: flex-end;
    margin-bottom: 5px;
  }
}
